html {
    box-sizing: border-box;

  }
  body {
      padding: 0;
      margin: 0;

  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

#navbar {
    background-color: #ddd;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 1rem;

}

#navbar a {
    padding: 1rem 1.5rem;
    margin: 1rem;
    text-align: center;

}
a:hover {
  background: #444;
  color: #ddd;
}

#maincontent {
  display: flex;
  justify-content: space-between;
}

#maincontent section {
  background: #ddd;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

#main-area {
  display: flex;
  
}

#sidebar, #menu {
  background-color: #ddd;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

footer {
  height: 50px;
  background-color: #ddd;
  font-weight: bolder;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

@media screen and (max-width: 500px) {
  #navbar {
    flex-basis: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
  }
  #maincontent, #main-area {
    flex-basis: 100%;
    display: flex;
    flex-flow: column;
    margin: 1rem;
    padding: 1rem;
  }
  #navbar a {
    padding: 1rem 1.5rem; 
    text-decoration: none;
    color:#444;
    text-align: center;
  }
}